.hor-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.hor-icon-items {
    display:flex;
    list-style-type: none;
}

.hor-icon-items li a{
    text-decoration: none;
    color: white;
}