@font-face {
  font-family: 'SpaceMono';
  src: url('/public/Fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.nav {
    position: fixed;
    font-family: "SpaceMono";
    font-size: 16px;
    background-color: #3895d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 20px 0 5px;
}

.nav-logo {
    align-items: center;
    padding: 10px 10px 0 10px;
}

.logo-head {
    height: 50px;
    width: 50px;
}

.navlinks {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navlinks li {
    float: left;
}

.navlinks li a{
    text-decoration: none;
    color: #181818;
}

